<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kraqco.shadowinmymind"
    android:versionCode="1"
    android:versionName="0.1.0">

  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:label="Shadow in My Mind"
      android:allowBackup="false"
      android:isGame="true"
      android:hardwareAccelerated="false"
      android:theme="@style/UnityThemeSelector"
      android:icon="@mipmap/app_icon">
    <activity
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:screenOrientation="landscape"
        android:launchMode="singleTask"
        android:exported="true"
        android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
